<div class="container">
  <div class="jumbotron" style="padding-bottom: 0px;">
    <h2>AngularJS and Firebase!</h2>
    <form class="form-signin" role="form">
      <input type="email" class="form-control" placeholder="youremail@example.com" required="required" autofocus="" />
      <input type="password" class="form-control" placeholder="Password" required="required" />
      <label class="checkbox">
        <a href="#">Sign up</a>
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>
